// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright (C) 2016~2023 Synaptics Incorporated. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 or
 * later as published by the Free Software Foundation.
 *
 * INFORMATION CONTAINED IN THIS DOCUMENT IS PROVIDED "AS-IS," AND
 * SYNAPTICS EXPRESSLY DISCLAIMS ALL EXPRESS AND IMPLIED WARRANTIES,
 * INCLUDING ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR
 * A PARTICULAR PURPOSE, AND ANY WARRANTIES OF NON-INFRINGEMENT OF ANY
 * INTELLECTUAL PROPERTY RIGHTS. IN NO EVENT SHALL SYNAPTICS BE LIABLE
 * FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE, OR
 * CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE USE
 * OF THE INFORMATION CONTAINED IN THIS DOCUMENT, HOWEVER CAUSED AND
 * BASED ON ANY THEORY OF LIABILITY, WHETHER IN AN ACTION OF CONTRACT,
 * NEGLIGENCE OR OTHER TORTIOUS ACTION, AND EVEN IF SYNAPTICS WAS
 * ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. IF A TRIBUNAL OF
 * COMPETENT JURISDICTION DOES NOT PERMIT THE DISCLAIMER OF DIRECT
 * DAMAGES OR ANY OTHER DAMAGES, SYNAPTICS' TOTAL CUMULATIVE LIABILITY
 * TO ANY PARTY SHALL NOT EXCEED ONE HUNDRED U.S. DOLLARS.
 */

/dts-v1/;

#include "myna2.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Synaptics Myna2 RDK";
	compatible = "Synaptics,myna2", "Synaptics,asserial";

	memory {
		device_type = "memory";
		reg = <0 0 0 0x80000000>;
	};

	chosen {
		stdout-path = &uart0;
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		sdio_vmmc: sdio_vmmc {
			compatible = "regulator-fixed";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-name = "vmmc_sdio";
			enable-active-high;
			gpio = <&expander1 4 GPIO_ACTIVE_HIGH>;
		};

		sdio_vqmmc: sdio_vqmmc {
			compatible = "regulator-gpio";
			pinctrl-names = "default";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
			regulator-name = "vqmmc_sdio";
			regulator-type = "voltage";
			states = <1800000 0x0 3300000 0x1>;
			gpios = <&expander1 6 GPIO_ACTIVE_HIGH>;
		};
	};

	firmware {
		optee {
			compatible = "linaro,optee-tz";
			method = "smc";
		};
	};

	panel0-backlight {
		compatible = "pwm-backlight";
		status = "okay";
		pwms = <&pwm0 3 1000000 0>;
		brightness-levels = <0 36 72 108 144 180 212 255>;
		default-brightness-level = <7>;
		enable-gpios = <&expander0 1 GPIO_ACTIVE_HIGH>;
	};
};

&pinctrl {
	emmc_pmux: emmc-pmux {
		groups = "EMMC_RSTn", "EMMC_DATA0", "EMMC_DATA1", "EMMC_DATA2", "EMMC_DATA3", "EMMC_DATA4", "EMMC_DATA5", "EMMC_DATA6", "EMMC_DATA7", "EMMC_CLK", "EMMC_CMD";
		function = "emmc";
	};

	sdio_pmux: sdio_pmux {
		groups = "SDIO_CDn";
		function = "sdio";
	};

	rgmii_pmux: rgmii-pmux {
		groups = "GPIO_A0", "GPIO_A1", "RGMIITXC", "RGMIITD0", "RGMIITD1", "RGMIITD2", "RGMIITD3", "RGMIITXCTL", "RGMIIRXC", "RGMIIRD0", "RGMIIRD1", "RGMIIRD2", "RGMIIRD3", "RGMIIRXCTL", "RGMII_CLK_OUT";
		function = "rgmii";
	};

	i2c1_pmux: i2c1-pmux {
		groups = "TW1_SCL", "TW1_SDA";
		function = "tw1";
		drive-strength = <7>;
	};

	pwm3_pmux: pwm3-pmux {
		groups = "PWM3";
		function = "pwm";
	};

	lcdc_pmux: lcdc-pmux {
		groups = "LCDD0", "LCDD1", "LCDD2", "LCDD3", "LCDD4", "LCDD5", "LCDD6", "LCDD7",
				 "LCDD8", "LCDD9", "LCDD10", "LCDD11", "LCDD12", "LCDD13", "LCDD14", "LCDD15",
				 "LCDD16", "LCDD17", "LCDD18", "LCDD19", "LCDD20", "LCDD21", "LCDD22", "LCDD23";
		function = "lcd";
	};

	lcdc_pmux1: lcdc-pmux1 {
		groups = "LPCLK";
		function = "lpclk";
	};

	lcdc_gpio_pmux: lcdc-gpio-pmux {
		groups = "LCDGPIO0", "LCDGPIO1", "LCDGPIO2";
		function = "lcdgpio";
	};
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&i2c1_pmux>;
	pinctrl-names = "default";
	clock-frequency = <100000>;

	expander0: gpio@43 {
		compatible = "fcs,fxl6408";
		reg = <0x43>;
		gpio-controller;
		#gpio-cells = <2>;
	};

	expander1: gpio@44 {
		compatible = "fcs,fxl6408";
		reg = <0x44>;
		gpio-controller;
		#gpio-cells = <2>;
	};
};

&phy0 {
	reg = <0>;
};

&gmac0 {
	status = "okay";
	max-speed = <1000>;
	phy-mode = "rgmii-id";
	phy-handle = <&phy0>;
	phy = <&phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pmux>;
	snps,reset-gpio = <&expander0 3 GPIO_ACTIVE_HIGH>;
	snps,reset-active-high;
	snps,reset-delays-us = <0 10000 50000>;
};

&CPU_SLEEP_0 {
	status = "disabled";
};

&uart0 {
	status = "okay";
};

&sdhci0 {
	status = "okay";
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	fixed-voltage;
};

&sdhci1 {
	status="okay";
	pinctrl-0 = <&sdio_pmux>;
	pinctrl-names = "default";
	sdhci-sdio;
	cap-sd-highspeed;
	sd-uhs-sdr12;
	sd-uhs-sdr25;
	sd-uhs-sdr50;
	sd-uhs-sdr104;
	fixed-voltage;
	vmmc-supply = <&sdio_vmmc>;
	vqmmc-supply = <&sdio_vqmmc>;
};

&usb_phy0 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&spi0 {
	status = "okay";
	max-write-size = <128>;
	clock-frequency = <100000000>;
	spi-flash@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "jedec,spi-nor";
		reg = <0>;
		memory-map = <0x0 0xf0000000 0x0 0x4000000>;
		spi-max-frequency = <10000000>;
	};
};

&xhci0 {
	status = "okay";
};

&usb_phy1  {
	status = "okay";
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm3_pmux>;
	pinctrl-names = "default";
};

&lcdc_fb {
	status = "okay";
	irqno = <62>;
	pinctrl-0 = <&lcdc_pmux>, <&lcdc_pmux1>, <&lcdc_gpio_pmux>;
	pinctrl-names ="default", "default", "default", "default";
	disp-mode = <2>;
	disp1-bits_per_pixel = <24>;
	disp1-busformat = <0>;
	disp2-bits_per_pixel = <24>;
	disp2-busformat = <0>;

	lcdc_panel {
		status= "okay";
		compatible = "syna,lcdc_panel";
		hact = <800>;
		hfp = <210>;
		hsa = <2>;
		hbp = <46>;
		vact = <480>;
		vfp = <22>;
		vsa = <2>;
		vbp = <23>;
		pixclockKhz = <33300>;
		rgbswap = <1>;
	};

	dsi_panel {
		status= "okay";

		ACTIVE_WIDTH = <800>;
		HFP = <60>;
		HSYNCWIDTH = <32>;
		HBP = <60>;
		ACTIVE_HEIGHT = <1280>;
		VFP = <16>;
		VSYNCWIDTH = <2>;
		VBP = <14>;
		FREQ = <75000>;

		HTOTAL = <952>;
		Lanes = <4>;
		Vid_mode = <2>;
		virtual_chan = <0>;
		Clk_Lane_Polarity = <0>;
		Data_Lane_Polarity = <0>;
		Recv_ack = <0>;
		Loosely_18 = <0>;
		H_polarity = <1>;
		V_Polarity = <1>;
		Data_Polarity = <1>;
		Eotp_tx = <1>;
		Eotp_rx = <0>;
		non-Continuous_clk = <1>;
		dpi_lp_cmd = <1>;
		Color_coding = <5>;
		Chunks = <0>;
		Null_Pkt = <0>;
		Byte_clk = <56250>;
	};
};
